.editorconfig
.idea
.jsdoc.json
.travis.yml
docs
.nyc_output
coverage
History.md
Makefile
renovate.json
test
.vscode/*
src
example
.github


# OS
.DS_Store

# compiled output
/dist
/node_modules


src/**/*
pulse.svg
pulse.png
